@layout("layouts/main")
@set("title", "Dashboard")

@section("body")
  @include("partials/header")

  @if(posts != null && posts.length !== 0)
    <section class="section">
      <h1 class="title">New Posts</h1>
      <div>
        @each(post in posts)
          @!component("components/postCard", {
            post
          })
        @end
      </div>
    </section>
  @end
@end
