* {
  margin: 0;
  padding: 0;
}

main {
  padding: 2rem;
}

.subtitle {
  font-size: 26px;
  margin-bottom: 40px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Poppins', sans-serif;
}

p {
  margin-bottom: 20px;
}

main ul {
  list-style: none;
}

main li {
  margin-bottom: 5px;
  position: relative;
  padding-left: 25px;
}

main li:before {
  content: '—';
  position: absolute;
  left: 0;
}

main code {
  font-size: 16px;
  background: #e6e2ff;
}

.card-list > .dash-card {
  border-radius: 0;
}

.card:first-child {
  border-top-right-radius: 0.25rem;
  border-top-left-radius: 0.25rem;
}
.card:last-child {
  border-bottom-right-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.avatar {
  object-fit: cover;
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

img.small-avatar {
  height: 100% !important;
  object-fit: cover;
}

.article {
}

@media (min-width: 800px) {
  .article {
    padding: 2.5rem 15rem 2.5rem 15rem !important;
  }
}

.is-horizontal {
  display: flex;
  flex-basis: 50ex;
  flex-grow: 0;
  flex-shrink: 1;
}

.is-horizontal .card-image {
  flex: 1.25;
  flex-shrink: 1;
}

.is-horizontal .card-image .image {
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.is-horizontal .card-image .image img {
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.is-horizontal .card-content {
  flex: 3;
}

.is-horizontal .card-content .content {
  flex: 1;
}

.shadow-md {
  box-shadow:
    0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06) !important;
}

.is-cursor-pointer {
  cursor: pointer !important;
}

.transform {
  -webkit-transform: translateX(0) translateY(0) rotate(0) skewX(0) skewY(0) scaleX(1) scaleY(1);
  transform: translateX(0) translateY(0) rotate(0) skewX(0) skewY(0) scaleX(1) scaleY(1);
}

.is-duration-300 {
  transition-duration: 0.3s;
}

@media (min-width: 768px) {
  .is-horizontal .card-image .image img {
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0.25rem;
    border-bottom-right-radius: 0;
  }
}

@media (max-width: 768px) {
  .is-horizontal {
    flex-direction: column;
  }
}
